@model dynamic

@{
    ViewData["Title"] = "Невозможно удалить";
}

<h1 class="text-danger">Невозможно удалить</h1>

<p>@ViewData["Message"]</p>

<a asp-action="Index" class="btn btn-secondary mt-2">Вернуться к списку</a>
