@model Lab4.Models.AdType

@{
    ViewData["Title"] = "Детали типа рекламы";
}

<h1 class="text-danger">Детали типа рекламы</h1>

<div class="card mt-4 bg-light">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@Model.AdTypeId</dd>
            <dt class="col-sm-2">Описание</dt>
            <dd class="col-sm-10">@Model.Description</dd>
        </dl>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary mt-2">
    <i class="fas fa-arrow-left"></i> Вернуться к списку
</a>